*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.item-container{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    border: 2px solid black;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    margin: 2px;
}
input:focus{
    text-align: center;
    transform: scale(1.2);
}

button{
    width: 25%;
    font-weight: bold;
    margin-left: 38%;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    margin-top: 5px;
    transform: scale(1.3);
}

p{
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 35%;
}

select{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 20%;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 41%;
    margin-bottom: 2px;
    margin-top: 2px;
}